.btn {
    cursor: pointer;
}

.mee
{
    color: red;
    font-style: italic;
    font-size: larger;
}

.custom_body_style
{

}
#successAlert {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: green;
    font-weight: bold;
}
